<link rel="stylesheet" href="styles.css">
<script src="app.js"></script>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="app" ng-app="myApp" ng-controller="myCtrl">
  <center><h1>Basic Price Calculator App - Angular JS</h1></center><br>
  <div class="container">
  <div class="row">
    <div class="col">
      
      <div class = "option">
  <h5>Enter Preferences</h5><br>
<form>
  <p>Quantity</p>
<select class="quan" ng-model="quantity" value = "{{quantity}}">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
</form>
  <br>
<form>
<p>Service Type</p>
<select class="serv" ng-model="service" value = "{{service}}">
  <option value="Basic (Rs.5000)">Basic (Rs.5000)</option>
  <option value="Intermediate (Rs.10,000)">Intermediate (Rs.10,000)</option>
  <option value="Advanced (Rs.15,000)">Advanced (Rs.15,000)</option>
  <option value="Pro (Rs.20,000)">Pro (Rs.20,000)</option>
</select>
</form>
  <br>
  <form>
  <p>Price</p>
<select class="quan" ng-model="price" value = "{{price}}">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
</form>
</div>
    </div>
    
    
    <div class="col entered">
  <h5>You Entered</h5><br>
  <span>Quantity: {{quantity}}</span><br>
  <span>Service Type: {{service}}</span><br>
  <span>Price: {{price}}</span>
    </div>
    
  </div>
    
  </div>
  

  
  <div class="total">
         <h5>You Have To Pay: ${{(( price +  option ) * quantity)}}</h5>
    </div>

</div>


